* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 180px; 
    height: 90vh;
    overflow-y: auto;
    background-color:none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 45px;
    margin-bottom: 200px;
    
    
}

.scroll-container {
    margin-top: 35PX;
    margin-bottom: 35PX;
    background-color: #083271;
    color: aliceblue;
    border-radius: 20px;
    margin-left: 200px; /* slightly more than the navbar's width to give space */
    margin-right: 20px;
    height: 90vh;  
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    
    
}
.scroll-container::-webkit-scrollbar {
    display: none;
  }

img {
    /* background-color: dimgray; */
    max-width: 800px;
    max-height: 400px;
    border-radius: 20px;
    /* box-shadow: 0px 0px 25px aliceblue; */
}

section {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.scroll-section {
    height: 100vh;
    scroll-snap-align: start;
}
h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 400;
}

#logo{
    background-color: transparent;
    position: absolute;
    top: -60px;
    left: 10px;
    z-index: -1;
}

p {
    font-size: 1.25rem;
    margin-top: 50px;
    max-width: 800px;
}
a {
    background-color: slategray;
    color: aliceblue;
    padding: 1px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: darkslategray;
}
/* Modal Styles */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 1000; /* Above all content */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
    max-width: 600px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* More Info Button Styles */
.info-btn {
    font-size: 1.25rem;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: slategray;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info-btn:hover {
    background-color: darkslategray;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    #logo{
        display: none;
    }
    img {
        max-width: 95%;
        max-height: 75%;
    }
    .scroll-container {
        margin: 0px;
        height: 100dvh;
        border-radius: 0px;

    }
    .modal-content {
        left: 50%;
    }
}