body {
    background-image: url('dadjoke.jpg');
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: top; 
}

h1 {
    margin: auto;
    font-size: 40px;
    background-color: gray;
    border-radius: 10px;
    border-color: black;
}


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#btn {
    margin-top: 300px;
    background: white;
    color: black;
    border: 2px solid white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

#content {
    margin: auto;
    padding: 4vh;
    font-size: 1.5rem;
    max-width: 400px;
    margin-top: 10px;
    background-color: lightslategray; 
    color: aliceblue;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;  
}

#sound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#randomSoundButton{
    margin-top: 12px;
    background: white;
    color: black;
    border: 2px solid white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
