body {
    background-image: url('dadjoke.jpg');
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: top; 
}

h1 {
    margin: auto;
    font-size: 40px;
    background-color: ;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
}


#container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    font-family: sans-serif;
    /* display: inline-block; */
    /* margin: auto; */
    /* align-content: flex-start; */
}

#button {
    display: flex;
    justify-content: center;
}

#btn {
    margin-top: 175px;
    margin-right: 250px;
    background: white;
    color: black;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    transform: scale(.50);
}

#content {
    margin: auto;
    padding: 4vh;
    font-size: 1.5rem;
    max-width: 400px;
    margin-top: 10px;
    background-color: lightslategray; 
    color: aliceblue;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;  
}


#randomSoundButton{
    margin-top: 175px;
    
    background: white;
    color: black;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    transform: scale(.50);
}
