body {
    background-color: lightslategray;
    overflow: hidden;
}


.splash-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.9);
    color: white;
    text-align: center;
    opacity: 1; /* Initial opacity */
    transition: opacity 0.5s ease-in-out; /* Add a transition for fading */
    z-index: 200;
    justify-content: center;
    padding-top: 3vh;
    font-family: 'Montserrat', sans-serif;
}

#splashlogo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    max-height: 38vh;
}
 #splash-logo {
    width: 70%;
    
    z-index: 210;
    
 }

 #title-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    max-width: 400px;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    background-color: none;
    border-bottom: solid rgb(161, 164, 167);
    
}
h1 {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: none;
    font-size: 55px;
    border-radius: 10px;
    color: aliceblue;
}

#small-logo {
    width: 60%;
    text-align: center;
    justify-content: flex-start;
    filter: red;
    filter: drop-shadow(2px 0px 8px aliceblue);

}

h2 {
    margin: 5px;
    background-color: none;
    font-size: 35px;
    border-radius: 10px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
p {
    font-size: xx-large;
    max-width: 350px;
    margin: auto;
}
#mainImage {
    text-align:center;
    padding: 10px ;
    margin:auto;
}

#mainImage img{
    width: 100%;
    max-width: 400px;
    align-content:center;
    border-radius: 10px;
    justify-self:center;
    box-shadow: 0 0 20px black;
    border-bottom: solid rgb(161, 164, 167);    
}

#small-logo .path {
    fill: orange;
}
.btn {
    box-shadow: 0 0 20px black;
    background: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    filter: drop-shadow(2px 4px 6px black);
    font-weight: bold;
    transform: scale(.750);
}



#buttons {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    background-color: none;
}

#content {
    margin: auto;
    font-size: 1.5rem;
    height: auto;
    max-width: 400px;
    margin-top: 10px;
    background-color: aliceblue; 
    color: lightslategray;
    border-radius: 20px;
    font-family: sans-serif;
    text-align: center;
    padding: 10px; 
    filter: drop-shadow(2px 4px 6px black);
}

.small-btn {
    cursor: pointer;
    border: none;
    transform: scale(.45);
    border-radius: 25px;
    filter: drop-shadow(2px 4px 6px black);
}

.lists {
    width: auto;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items:  left;
    list-style:none;
    margin:auto;
    padding: 20px;
    filter: drop-shadow(2px 0px 8px black);
    
} 

.list-items {
    font-size: 18px;
    color: aliceblue;
    text-align:right;
    width: 300;
    max-width: 400px;
    height:auto;
    justify-content:space-evenly;
    display: flex;
    padding: 10px;
    vertical-align: middle;
    filter: drop-shadow(2px 4px 6px black);      
}

li:not(:last-of-type) {
    border-bottom: 4px solid rgb(161, 164, 167);
  }