body {
    background-color: lightslategray;
}

h1 {
    margin: 5px;
    background-color: none;
    font-size: 55px;
    border-radius: 10px;
    color: aliceblue;
}

h2 {
    margin: 5px;
    background-color: none;
    font-size: 35px;
    border-radius: 10px;
    color: aliceblue;
}
#mainImage {
    text-align:center;
    padding: 10px ;
    margin:auto;
}

#mainImage img{
    width: 100%;
    max-width: 400px;
    align-content:center;
    border-radius: 10px;
    justify-self:center;
    box-shadow: 0 0 20px black;
    border-bottom: solid rgb(161, 164, 167);    
}

.btn {
    box-shadow: 0 0 20px black;
    background: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    transform: scale(.750);
}

#title-container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    background-color: none;
    border-bottom: solid rgb(161, 164, 167);
}

#buttons {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    background-color: none;
}

#content {
    margin: auto;
    font-size: 1.5rem;
    height: auto;
    max-width: 400px;
    margin-top: 10px;
    background-color: lightslategray; 
    color: aliceblue;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
    padding: 10px; 
}

.small-btn {
    
    background-color: lightslategray;
    cursor: pointer;
    border: none;
    transform: scale(.45);
    border-radius: 25px;
}

.lists {
    width: auto;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items:  left;
    list-style:none;
    margin:auto;
    padding: 20px;
    
} 

.list-items {
    font-size: 18px;
    color: aliceblue;
    text-align:right;
    width: 300;
    max-width: 400px;
    height:auto;
    justify-content:space-evenly;
    display: flex;
    padding: 10px;
    vertical-align: middle;
      
}

li:not(:last-of-type) {
    border-bottom: 4px solid rgb(161, 164, 167);
  }