body {
    background-image: url('dadjoke.jpg');
    background-size: 500px 250px;
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 85px;
}

h1 {
    margin: auto;
    background-color: lightslategray;
    font-size: 40px;
    border-radius: 10px;
    border-color: black;
    padding: 10px 50px;
    color: aliceblue;
    text-shadow: 0 0 8px  black;
    box-shadow: 0 0 4px black
}

.btn {
    margin-top: 265px;
    box-shadow: 0 0 20px black;
    background: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    transform: scale(.750);
}

#title-container {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

#buttons {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}

#content {
    margin: auto;
    font-size: 1.5rem;
    height: auto;
    max-width: 400px;
    margin-top: 10px;
    background-color: lightslategray; 
    color: aliceblue;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;  
}