body {
  max-width: 600px !important;
  text-align: center;
  margin: auto;
}
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}
.section {
  margin: auto;
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}
.start {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.text {
  position: absolute;
  bottom: 10%;
  width: 87%;
  text-align: center;
  color: white;
  font-size: 2em;
  white-space: pre-wrap;
  overflow: hidden;
  /* border-right: 3px solid white; */
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  margin: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 40px);
  word-wrap: break-word;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative; /* Needed to position the overlay */
  display: flex; /* Enables flexbox to center the child elements */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  overflow: hidden;
}
.overlay {
  position: absolute; /* Positions the overlay in relation to the background */
  max-width: 119%; /* Adjust as necessary to maintain a reasonable size */
  max-height: 80%; /* Adjust as necessary to maintain a reasonable size */
  z-index: 10; /* Ensures the overlay is above the background */
}
.typewriter {
  animation: none; /* Initially, don't show the text */
}
.section#section4::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/gpakids.png"); /* Your image here */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  transform-origin: center; /* Ensures the image rotates around its center */
  transform: rotate(90deg); /* Rotates the image 90 degrees */
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Add this to make the text stay after the animation completes */
.typewriter.animated {
  animation: type 4s steps(60, end) forwards; /* Adjust time as needed */
}
@keyframes type {
  from {
    width: 0;
  }
}
.typewriter {
  animation: type 4s steps(60, end);
}
@media only screen and (max-width: 600px) {
  .text {
    font-size: 1.5em;
  }
}
