* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #090909;
  color: #fff;
  line-height: 1.6;
}
p {
  padding: 5px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1860px;
  margin: auto;
}
header {
  background: #090909;
  padding: 20px 0;
  text-align: center;
}

/* .headshot {
  max-width: 50px;
  max-height: 50px;
} */

.player {
  display: flex;
  width: 45%;
  justify-content: space-around;
  border-radius: 15px;
  background-color: #fff;
  color: #000;
}

.player img {
  width: 85px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#player-details-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
}

#player-details-container img.headshot {
  width: 150px;
  height: auto;
  display: block;
  margin-bottom: 15px;
}
/* Modal styles */
/* Modal styles */
/* Modal Trading Card Styles */
/* Modal Trading Card Styles */
.trading-card {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent card */
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.trading-card h2 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.trading-card img.headshot {
  width: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.trading-card p {
  font-family: 'Arial', sans-serif;
  margin: 5px 0;
}

/* Stat Tile Styles */
.stat-tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.stat-tile {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  text-align: center;

  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.stat-abbr {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.stat-number {
  font-size: 18px;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid white;
  margin: 5px 0;
}

/* Tabs */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  font-size: 16px;
  color: white;
}

.tab button:hover {
  background-color: #ddd;
  color: black;
}

.tab button.active {
  background-color: #333;
  color: white;
}

.tabcontent {
  display: none;
  padding: 10px;
}

.tabcontent.active {
  display: block;
}

/* Modal container styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 10; /* Stay on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
.player-stat {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  color: #000;
  max-width: 650px;
}

.player-headshot {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.player-stat h4 {
  margin: 0;
  font-size: 16px;
}

.player-stat p {
  margin: 5px 0;
}

.modal-content {
  height: 88vh;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1200px;

}
.three-stars {
  display: flex;
  justify-content: space-around;
}

.three-stars img {
  height: 75px;
}
.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#players-container .player {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

#players-container .player:hover {
  background-color: #f0f0f0;
  color: #000;
}


header h1 {
  font-size: 2.5rem;
  color: #71AFE5;
  text-transform: uppercase;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #71AFE5;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("path-to-default-hero-image.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
}

.hero-text {
  max-width: 50%;
  padding: 20px;
}
#schedule-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.goal-headshot {
  height: 75px;
}
.game {
  background: #f4f4f4;
  color: #000;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-info {
  display: flex;
    text-align: center;
    justify-content: center;
}
.team-logos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.team-logo {
  width: 50px;
  height: 50px;
}

#game-modal {

  position: fixed;
  overflow: hidden;
}
.game-info, .game-status {
  text-align: center;
}

.scoring-summary {
  max-height: 394px; /* Set a fixed height for the scoring summary */
  overflow-y: auto;  /* Enable vertical scrolling */
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

/* For most modern browsers */
#schedule, #stats, #players, #goalies, #standings {
  padding: 15px;
  width: 45vw;
  background-color: #868d94;
  border-radius: 15px;
  margin: 15px;
  height: 40vh;
  overflow: auto;
  max-width: 800px;

  /* Hide scrollbar for most modern browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#schedule::-webkit-scrollbar, 
#stats::-webkit-scrollbar, 
#players::-webkit-scrollbar, 
#goalies::-webkit-scrollbar, 
#standings::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}


#away-team-logo, #home-team-logo {
  max-width: 50px;
  max-height: 50px;
}

#upcoming-games {
  display: flex;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #71AFE5;
}

#games-container,
#stats-container,
#players-container, #standings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

#stats-container h3 {
  width: 100%;
  max-width: 650px;
}
.conference {
  margin-bottom: 40px;
}

.conference h2 {
  text-align: center;
  font-size: 24px;
  /* margin-bottom: 20px; */
  border-bottom: 2px solid #ccc;
  /* padding-bottom: 10px; */
}


.division h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  color: #FFD700;
}

.team-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.team-tile {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 7px;
  color: white;
  font-weight: bold;
  position: relative;
  width: 100%;
  /* min-height: 150px; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* text-align: left; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.team-tile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  z-index: 1;
}

.team-info {
  max-width: 610px;
  position: relative;
  z-index: 2;
  /* background-color: rgba(0, 0, 0, 0.7); */
  padding: 10px;
  border-radius: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team-info p {
  margin: 5px 0;
}

.team-logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  z-index: 2;
}

.team-rank {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  color: #FFD700;
  z-index: 2;
}

@media (max-width: 768px) {
  .team-tile {
      flex-direction: column;
      text-align: center;
  }

  .team-logo {
      margin: 0 0 10px;
      height: 40px;
  }

  .team-rank {
      margin: 10px 0;
  }
  #schedule,
#stats,
#players,#goalies, #standings {
  padding: 15px;
  width: 95vw;
  background-color: #868d94;
  border-radius: 15px;
  margin: 15px;
  height: 75vh;
  overflow: scroll;
}
}


footer {
  text-align: center;

  background: #090909;
  color: white;
}

#players-container,
#goalies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player-card {
  background-color: #2a2a2a;
  border-radius: 10px;
  width: 250px;
  margin: 15px;
  text-align: center;
  padding: 15px;
  color: white;
}

.player-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.player-card h3 {
  margin: 10px 0;
  color: #71AFE5;
}
