body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  color: #333;
  background-color: black;
}
 label{
    display: none;
 }


form {
    max-width: 600px;
    margin: auto;
    background-color: rgb(196, 191, 191);
    padding: 13px;
    border-radius: 8px;
}

input[type="text"],
input[type="email"],
textarea,
button {

  padding: 10px;
 
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  border-radius: 4px;
  border: 1px solid #ccc;
}

#locale,
#name,
#provider,
#contact,
#streets,
#buttons,
#button, #vehicleSelections, #dropDowns{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#vehicleSelection, #commentsSelect {
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
}
#button {
  flex-direction: column;
}

#sendParseLead {
  width: 40%;
  margin-left: 30%;
}

h2,
h3 {
  color: #333;
  /* margin: 2px; */
}

label {
    font-size: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: block;
  /* margin: 15px 0 5px; */
}

#stateAbbreviation {
    width: 57px;
}


input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 0px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="button"],
button {
  background-color: #0056b3;
  color: white;
  padding: 10px 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 16px;
}

input[type="button"]:hover {
  background-color: #003d82;
}

textarea {
  height: 100px;
}

/* Clear floats */
form::after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* padding-top: 60px; */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}
#modalXmlOutput {
  height: 490px;
}

/* The Close Button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Improve the layout on smaller screens */
@media screen and (max-width: 768px) {
  /* .modal-content, form {
        width: 90%; /* Slightly smaller width on small screens */
  /* } */
  /* } */

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
  }

  #locale, #streets, #dropDowns{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* margin: 5px; */
  }
}
